{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Assets Report</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href={% static 'report.css' %}>
</head>

<body>
	<div class="container asset-container">
		<div class="asset-header">
			<img src="{% static 'pink-piggy-bank-stacks-money-coins-isolated-white-background_256339-2137.avif' %}" alt="pink-piggy-bank">
			<div class="asset-title">
				<h4>Asset Summary for {{username}}</h4>
			</div>
		</div>

		<table class="asset-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				{% for asset in assets %}
				<tr>
					<td>{{asset.name}}</td>
					<td> € {{asset.amount}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<p class="asset-total mt-4">Assets Total: € {{total_sum}}</p>
		<div class="asset-footer">
			<p>Dear {{username}}, the total value of your assets amounts to € {{total_sum}}.</p>
		</div>
	</div> 

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
	
</body>

</html>
