{% extends "base.html" %}
{% load static %}
{% block start %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href={% static 'update_asset.css' %}>

<div class="container mt-5 col-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h4 class="text-center">Update Asset</h4>
        <hr>
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" name="name" value="{{ asset.name }}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="inputAmount">Amount</label>
            <input name="amount" type="number" value="{{ asset.amount }}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>

{% endblock %}
